{% extends "base.html" %}
{%block content%}

    {% if ticker %}
        {{ticker}}
    {% endif %}

    {% if api %}

        {% if api == "Error ..."%}
            there is an error in the api, please try again
        {% else %}

            <h1>{{api.companyName}}</h1></br>
            Price: {{api.latestPrice}}
            Previous Close {{api.previousClose}}
            Market Cap: {{api.marketCap}}
            YTD Change: {{api.ytdChange}}
            52 WK High: {{api.week52High}}
            52 WK Low:  {{api.week52Low}}

            <hr>
            <h1>ALL ITEM</h1>
            {% for key,value in api.items %}</br>
                {{key}}:{{value}}
            {% endfor %}
        {% endif %}

    {% else %}
        api not avaiable at this time, please try again later
    {% endif %}

{%endblock%}